$frame-padding: 18px;
$layout-padding: 18px;
$aside-width: 220px;
$aside-collapse-width: 64px;
$aside-shadow: 2px 0px 1px -1px rgba(0, 0, 0, 0.1), 1px 0px 1px 0px rgba(0, 0, 0, 0.06), 1px 0px 3px 0px rgba(0, 0, 0, 0.04);
$header-shadow: 2px 2px 1px -1px rgba(0, 0, 0, 0.1), 2px 1px 1px 0px rgba(0, 0, 0, 0.06), 2px 1px 3px 0px rgba(0, 0, 0, 0.04);
$border-color: #E4E7ED;
$theme-bgcolor: #414146;